
div#content div.annoce{
	background-color: purple;
	width: 100px;
	margin: 20px;
}


div#content{
	background-color: black];
}

div#content div{
	display: inline-block;
	width: 48%;
	background-color: yellow;
	vertical-align: top;
}

div#content div h1, p, iframe {
margin:35px ;
}


div#content div.leftbox{
background-color: red;

}
div#content div.rightbox{
	
}

nav.menu-nav ul li.btn{
	display: inline-block;
}

nav.menu-nav ul li.btn a{
	color: white;
	text-decoration: none;
	background-color: black;
	padding: 10px;
}

nav.menu-nav ul li.btn:hover a{
	color: blue;
	background-color: black;
	transition: 0.3s all;

}

nav.menu-nav ul li.btn{
	list-style-type: none; 
}

footer{
	background-color: red;
}
header{
	background-color: yellow;
}

div.annoce img {
	 border-radius: 50px;
}

/*p{
	color: #ffffff;
	background-color: #CB0EB4 ;
}

body{
	background: url(https://www.code-couleur.com/images/main/carte-credit.jpg);
}

h2.headline {
	font-size: 60px;
	font-weight: bold;
	padding-left: 150px;
}
*/